<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="avatar ion-text-center">
          <img src="assets/imgs/logo-bosna.png" height="100px" />
        </div>
        <ion-list id="inbox-list">
          <ion-list-header>{{ "AppName" | translate }}</ion-list-header>
          <div class="ion-padding-start ion-padding-end">
            <div *ngIf="user">
              {{user?.name}} ({{ user?.role }})
            </div>
            <div>
              {{ 'language' | translate }}: <app-language-switch dir="ltr" style="margin: auto; display: inline-block;"></app-language-switch>
            </div>
          </div>
          <ion-menu-toggle auto-hide="false" *ngIf="checkPermission('home')">
            <ion-item
              routerDirection="root"
              [routerLink]="'home'"
              lines="none"
              detail="false"
              routerLinkActive="selected"
              class="ion-margin-top">
              <ion-icon
                aria-hidden="true"
                slot="start"
                name="home-outline"></ion-icon>
              <ion-label>{{ "home" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="checkPermission('calendar')">
            <ion-item
              routerDirection="root"
              [routerLink]="'calendar'"
              lines="none"
              detail="false"
              routerLinkActive="selected">
              <ion-icon
                aria-hidden="true"
                slot="start"
                name="calendar-outline"></ion-icon>
              <ion-label>{{ "orders-calendar" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="checkPermission('orders')">
            <ion-item
              routerDirection="root"
              [routerLink]="'orders'"
              lines="none"
              detail="false"
              routerLinkActive="selected">
              <ion-icon
                aria-hidden="true"
                slot="start"
                name="list"></ion-icon>
              <ion-label>{{ "orders" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="checkPermission('cars')">
            <ion-item
              routerDirection="root"
              [routerLink]="'cars'"
              lines="none"
              detail="false"
              routerLinkActive="selected">
              <ion-icon
                aria-hidden="true"
                slot="start"
                name="car-sport-outline"></ion-icon>
              <ion-label>{{ "cars" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="checkPermission('car-companies')">
            <ion-item
              routerDirection="root"
              [routerLink]="'car-companies'"
              lines="none"
              detail="false"
              routerLinkActive="selected">
              <ion-icon
                aria-hidden="true"
                slot="start"
                name="car-outline"></ion-icon>
              <ion-label>{{ "car-companies" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="checkPermission('accommodations')">
            <ion-item
              routerDirection="root"
              [routerLink]="'accommodations'"
              lines="none"
              detail="false"
              routerLinkActive="selected">
              <ion-icon
                aria-hidden="true"
                slot="start"
                name="home-outline"></ion-icon>
              <ion-label>{{ "accommodations" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="checkPermission('partners')">
            <ion-item
              routerDirection="root"
              [routerLink]="'partners'"
              lines="none"
              detail="false"
              routerLinkActive="selected">
              <ion-icon
                aria-hidden="true"
                slot="start"
                name="business-outline"></ion-icon>
              <ion-label>{{ "partners" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="checkPermission('drivers')">
            <ion-item
              routerDirection="root"
              [routerLink]="'drivers'"
              lines="none"
              detail="false"
              routerLinkActive="selected">
              <ion-icon
                aria-hidden="true"
                slot="start"
                name="people-circle-outline"></ion-icon>
              <ion-label>{{ "drivers" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="checkPermission('extra-services')">
            <ion-item
              routerDirection="root"
              [routerLink]="'extra-services'"
              lines="none"
              detail="false"
              routerLinkActive="selected">
              <ion-icon
                aria-hidden="true"
                slot="start"
                name="bookmarks-outline"></ion-icon>
              <ion-label>{{ "extra-services" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="checkPermission('repairs')">
            <ion-item
              routerDirection="root"
              [routerLink]="'repairs'"
              lines="none"
              detail="false"
              routerLinkActive="selected">
              <ion-icon
                aria-hidden="true"
                slot="start"
                name="hammer-outline"></ion-icon>
              <ion-label>{{ "repairs" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="checkPermission('users')">
            <ion-item
              routerDirection="root"
              [routerLink]="'users'"
              lines="none"
              detail="false"
              routerLinkActive="selected">
              <ion-icon
                aria-hidden="true"
                slot="start"
                name="people-outline"></ion-icon>
              <ion-label>{{ "users" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item
              lines="none"
              detail="false"
              style="cursor: pointer; margin-top: 20px; border-top: 1px solid #e0e0e0;"
              (click)="logout()"
              routerLinkActive="selected">
              <ion-icon
                aria-hidden="true"
                slot="start"
                name="log-out-outline"></ion-icon>
              <ion-label>{{ "logout" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>