/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "../src/assets/css/ngx-datatable-bootstrap.scss";


* {
  letter-spacing: normal !important;
}

ion-button:not(.button-has-icon-only),
ion-segment-button:not(.button-has-icon-only) {
  --padding-top: 7px;
}

.d-flex {
  display: flex;
}

.tac {
  text-align: center !important;
}

.tar {
  text-align: right !important;
}

.tal {
  text-align: left !important;
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

.a-c {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: auto;
  z-index: 10;
}

.fix-dir {
  direction: ltr;
  text-align: end !important;
}

.flex-inline-center {
  display: inline-flex;
  align-items: center;
}

[dir="ltr"] {
  .fix-dir {
    text-align: start !important;
  }
}

.my-loading-spinner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  width: 70px;
  height: 70px;
}

.custom-input {
  ion-input.label-floating {
    label {
      .label-text-wrapper {
        // margin-bottom: 3px;
        margin-top: -12px;
      }
    }
  }
}

.custom-input {
  ion-item::part(native) {
    line-height: 1.2;
  }

  .custom-label {
    text-align: start;
    // margin-bottom: 5px;
    // font-weight: bold;
    font-size: 17px;
  }

  ion-input,
  ion-select {
    min-height: 50px !important;

    label {
      text-align: start;
      // font-weight: bold !important;
      font-size: 17px;
    }
  }

  ion-item {
    border: 1px solid #e8e8e8;
    border-radius: 15px;
    align-items: center;
  }

  ion-icon[slot="start"] {
    margin-inline-end: 15px;
  }

  ion-icon[slot="end"] {
    margin-inline-end: 15px;
  }

  .phone-div {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow: visible;
    margin-inline-start: 2px;
  }

  .phone-div:after {
    content: "▾";
    position: absolute;
    right: -5px;
    top: 6px;
    font-size: 23px;
    height: 23px;
    background: white;
    width: 15px;
  }
}

// .order-row-flex {
//   height: auto !important;
//   datatable-body-cell {
//     height: auto !important;
//   }
// }

.paid-cell {
  background-color: #2dd36f42 !important;
}

.native-date-input {
  border: 1px solid #f0f0f0;
  border-radius: 7px;
  padding: 5px;
  background: var(--ion-color-light);
  outline: none;
}

[dir="rtl"] {
  .custom-input {

    ion-input.input-label-placement-floating,
    ion-select {
      label {
        .label-text-wrapper {
          margin-top: -24px !important;
        }
      }
    }

    ion-input.input-label-placement-floating.has-value,
    ion-select {
      label {
        .label-text-wrapper {
          margin-top: -19px !important;
        }
      }
    }
  }
}

[dir="ltr"] {
  .custom-input {

    ion-input.input-label-placement-floating,
    ion-select {
      label {
        .label-text-wrapper {
          margin-top: -5px !important;
        }
      }
    }
  }
}

.form-error {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-inline: 20px;
  width: fit-content;
  --min-height: 30px !important;
}


.ngx-datatable {
  .empty-row {
    text-align: center;
  }

  .sc-ion-input-md-h:not(.legacy-input) {
    min-height: initial;
  }

  .custom-input {
    ion-item {
      --min-height: initial;
      --padding-start: 5px;
      --padding-end: 5px;
      margin: -3px -3px;
    }
  }

}

.square-btn {
  --padding-start: 3px;
  --padding-end: 3px;
}

.popup-info::part(content) {
  --min-width: 85%;
  --max-width: 480px;
  border-radius: 10px;
}

.lang-switch-popover::part(content) {
  --min-width: 120px;
  --max-width: 120px;
}

.filter-popover {
  --min-width: 380px;
  --max-height: 100%;
}

.editpage-popover {
  --min-width: 420px;
  --max-height: 95%;
  // --offset-y: 120px;
}

@media only screen and (max-width: 680px) {
  .editpage-popover {
    --min-width: 90%;
    --max-height: 90%;
    // --offset-y: 50px;
  }
}

.filter-popover::part(content),
.editpage-popover::part(content) {
  border-radius: 20px;
}

.custom-input .input-label-placement-fixed.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md {
  margin-inline-end: 0px;
}

ngx-datatable {
  datatable-body-cell {
    overflow: visible !important;
  }

  .datatable-body-cell-label {
    white-space: normal;
  }
}

.header-title-icon {
  margin-bottom: -7px;
  margin-inline-end: 10px;
}

[dir="ltr"] {
  .label-floating.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md {
    transform: translateY(78%) scale(0.75);
  }
}

.calender-btn {
  .date-txt {
    color: var(--ion-color-dark) !important;
  }
}

.flatpickr-calendar {
  text-align: center !important;

  * {
    text-align: center !important;
  }
}

[dir="ltr"] {
  .header-row {
    ion-col {
      text-align: start !important;
    }
  }
}

.split-pane-visible>.split-pane-side {
  // min-width: 150px!important;
  max-width: 170px !important;
}

.logs-popup {
  table {
    width: 100%;
    tr:last-child {
      border-bottom: none;
    }
    tr {
      border-bottom: 1px solid #ececec;
      td, th {
        padding: 10px 10px;
        align-content: start;
      }
      th:not(.log-data-col), td:not(.log-data-col) {
        min-width: 50px;
      }
    }
  }
}